<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title data-th-text="#{store.title(${store.displayName})}">Do they have any…? - Dave's Funky Discount Produce</title>
</head>

<body>
    <h1 data-th-text="${store.displayName}">Dave's Funky Discount Produce</h1>

    <p data-th-text="#{store.report-prompt(${store.displayName})}">Have you been inside Dave's Funky Discount Produce recently? Please tell us what you saw!</p>

    <h2 data-th-text="#{store.inventory-report.title}">Inventory report</h2>

    <table data-th-if="${inventoryReport}">
        <thead>
            <tr>
                <th data-th-text="#{store.inventory-report.header.item}">Grocery item</th>
                <th data-th-text="#{store.inventory-report.header.availability}">Availability</th>
            </tr>
        </thead>

        <tr data-th-each="entry : ${inventoryReport.availabilityByGroceryItem}">
            <td data-th-text="#{|grocery-item.${entry.key}}|}">Flour</td>
            <td data-th-text="#{|availability.${entry.value}}|}">Available</td>
        </tr>
    </table>

    <p data-th-unless="${inventoryReport}" data-th-text="#{store.no-recent-reports}">We don't have any recent shopping reports for this store. If you've been there lately, please tell us what you saw!</p>
</body>
</html>
