<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Do they have any…?</title>
</head>

<body>
    <h1 data-th-text="${store.displayName}">Dave's Funky Discount Produce</h1>

    <p>Have you been inside <span data-th-text="${store.displayName}}">Dave's Funky Discount Produce</span> recently? Please tell us what you saw!</p>

    <h2>Recent shopping reports</h2>

    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Availability</th>
            </tr>
        </thead>
    </table>
</body>
</html>
